.formulario{
    margin: 2rem 25rem;
    padding: 2rem;
    background-color: #2e2e2e;
}

h1 {
    text-align: center;
    padding: 1rem;
}

h2 {
    text-align: center;
}

.formulario__itens {
    margin: 2rem 0;
}

.conteudo__formulario {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.conteudo__formulario label{
    display: inline-block;
    margin-bottom: 1em;
}

.conteudo__formulario input {
    display: block;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid #dfdfdf
}

.conteudo__formulario a {
    position: absolute;
    bottom: -10px;
    left: 0;
    visibility: hidden;
}

.formulario button {
    background-color: yellow;
    color: #000;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.conteudo__formulario.error input {
    border-color: #ff3b25;
}

.conteudo__formulario.error a {
    color: #ff3b25;
    visibility: visible;
}