.precos_main{
    margin: 0 25rem 10rem 25rem;
}

.logo__banner {
    width: 100%;
    height: 350px;
    border-radius: 30px;
}

li {
    list-style-type: none;
}


/* 1-  Estilos do container com as duas plataformas */
.precificacoes {
    margin: 0rem 10rem;
}

.logos{
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    margin: 4rem 0;
    background: linear-gradient(to right, blue 50%, green 50%)
}

.logo__dispositivos {
    width: 100px;
    height: 80px;
}

/* 1 - Termina aqui */


/* 2- Parte dos preços com as plataformas */
.logo__preco {
    width: 70px;
    height: 50px;
    border: 1px solid #f0f0f0;
    margin: 0 0.5rem;
    border-radius: 10px;
}


/* Estilos únicos das plataformas */
#psn {
    background-color: blue;
}

#xbox {
    background-color: green;
}

.preco__quantidade {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background: linear-gradient(to right, #2e2e2e 88%, yellow 11%);
    align-items: center;
    margin: 1rem 0;
    border-radius: 30px;
}

.quantidade {
    padding: 0 1.5rem;
    font-size: 24px;
    font-weight: bold;
}

.estilo__preco {
    margin: 0 10rem;
}

.estilo__caixa__preco {
    display: flex;
    align-items: center;
}

.botao__comprar {
    background: none ;
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    
}

.formulario__link{
    margin: 1rem 0;
}

.formulario__mandar {
    color: yellow;
}

.botao__flutuantes {
position: fixed;
  bottom: 20px;
  right: 20px;
  /* Outras propriedades de estilo aqui */
  background-color: #25D366;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.botao__flutuantes_insta {
position: fixed;
  bottom: 110px;
  right: 20px;
  /* Outras propriedades de estilo aqui */
  background-color: #25D366;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.botao__flutuantes:hover {
    transform: scale(1.1);
}