.parceiros {
    margin: 0 25rem 5rem 25rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #2e2e2e;
}

.parceiros h1 {
    font-size: 36px;
}

.card__config {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
}

.card__img {
    width: 120px;
    height: 120px;
    border: 2px solid #000;
    border-radius: 1rem;
}

.card__nome {
    font-weight: bold;
    margin-top: 0.2rem;
    text-transform: uppercase;
    font-size: 24px;
}

.card__botao_twitch{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #6441A5;
    border: none;
}

.card__botao_youtube{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f00;
    border: none;
}

.card__botao_twitch img, .card__botao_youtube img {
    width: 30px;
    height: 30px;
}

.card__botao_twitch a , .card__botao_youtube a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding-left: 0.5rem;
}
